# Assignment 4
## Applied ML

As usual, load some useful packages

In [1]:
%matplotlib inline
%autoreload 2

import pandas as pd                                     # for dealing with csv import
import numpy as np                                      # arrays and other matlab like manipulation
import os                                               # for joining paths and filenames sensibly
import matplotlib.pyplot as plt                         # Matplotlib's pyplot: MATLAB-like syntax
import scipy.stats.mstats as ssm                        # for bootstrap
import random
import pylab as plt

#from sklearn.ensemble import RandomForestClassifier
#from sklearn import preprocessing
#from sklearn.model_selection import cross_val_score, KFold
import warnings
warnings.filterwarnings('ignore')

ERROR: Line magic function `%autoreload` not found.

Let's read the data in and do some preprocessing

In [2]:
df = pd.read_csv('CrowdstormingDataJuly1st.csv')

The data has the following structure and format:

In [3]:
df.head(5)

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [4]:
df.describe()

,height,weight,games,victories,ties,defeats,goals,yellowCards,yellowReds,redCards,rater1,rater2,refNum,refCountry,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
count,145765.000000,143785.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,146028.000000,124621.000000,124621.000000,146028.000000,146028.000000,145865.000000,1.458650e+05,1.458650e+05,145865.000000,1.458650e+05,145865.000000
mean,181.935938,76.075662,2.921166,1.278344,0.708241,0.934581,0.338058,0.385364,0.011381,0.012559,0.264255,0.302862,1534.827444,29.642842,0.346276,1.969741e+04,6.310849e-04,0.452026,2.044023e+04,0.002994
std,6.738726,7.140906,3.413633,1.790725,1.116793,1.383059,0.906481,0.795333,0.107931,0.112889,0.295382,0.293020,918.736625,27.496189,0.032246,1.271262e+05,4.735857e-03,0.217469,1.306157e+05,0.019723
min,161.000000,54.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,-0.047254,2.000000e+00,2.235373e-07,-1.375000,2.000000e+00,0.000001
25%,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,641.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,2.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,1604.000000,21.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,3.000000,2.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,NaN,NaN,2345.000000,44.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,203.000000,100.000000,47.000000,29.000000,14.000000,18.000000,23.000000,14.000000,3.000000,2.000000,1.000000,1.000000,3147.000000,161.000000,0.573793,1.975803e+06,2.862871e-01,1.800000,2.029548e+06,1.060660

Look where we have the missing values:

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146028 entries, 0 to 146027
Data columns (total 28 columns):
playerShort      146028 non-null object
player           146028 non-null object
club             146028 non-null object
leagueCountry    146028 non-null object
birthday         146028 non-null object
height           145765 non-null float64
weight           143785 non-null float64
position         128302 non-null object
games            146028 non-null int64
victories        146028 non-null int64
ties             146028 non-null int64
defeats          146028 non-null int64
goals            146028 non-null int64
yellowCards      146028 non-null int64
yellowReds       146028 non-null int64
redCards         146028 non-null int64
photoID          124621 non-null object
rater1           124621 non-null float64
rater2           124621 non-null float64
refNum           146028 non-null int64
refCountry       146028 non-null int64
Alpha_3          146027 non-null object
meanIAT          145865 non-null float64
nIAT             145865 non-null float64
seIAT            145865 non-null float64
meanExp          145865 non-null float64
nExp             145865 non-null float64
seExp            145865 non-null float64
dtypes: float64(10), int64(10), object(8)
memory usage: 31.2+ MB

Let's now select only the rows where we have rating

In [6]:
df1 = df[df.rater1.notnull() & df.rater2.notnull()]

In [7]:
#first 14 columns of the first 10 rows
df1.ix[:10,:14]

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,ties,defeats,goals,yellowCards
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,0,1,0,0
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,0,1,0,1
5,aaron-hughes,Aaron Hughes,Fulham FC,England,08.11.1979,182.0,71.0,Center Back,1,0,0,1,0,0
6,aleksandar-kolarov,Aleksandar Kolarov,Manchester City,England,10.11.1985,187.0,80.0,Left Fullback,1,1,0,0,0,0
7,alexander-tettey,Alexander Tettey,Norwich City,England,04.04.1986,180.0,68.0,Defensive Midfielder,1,0,0,1,0,0
8,anders-lindegaard,Anders Lindegaard,Manchester United,England,13.04.1984,193.0,80.0,Goalkeeper,1,0,1,0,0,0
9,andreas-beck,Andreas Beck,1899 Hoffenheim,Germany,13.03.1987,180.0,70.0,Right Fullback,1,1,0,0,0,0
10,antonio-rukavina,Antonio Rukavina,Real Valladolid,Spain,26.01.1984,177.0,74.0,Right Fullback,2,2,0,0,0,1

In [8]:
#all the other columns of the first 10 rows
df1.ix[:10,14:]

,yellowReds,redCards,photoID,rater1,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,0,0,95212.jpg,0.25,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,0,0,1663.jpg,0.75,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
5,0,0,3868.jpg,0.25,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,0,0,47704.jpg,0.00,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,0,0,22356.jpg,1.00,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,0,0,16528.jpg,0.25,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,0,0,36499.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
10,0,0,59786.jpg,0.00,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752

In [9]:
def cleanData(df):
    #convert all columns to object (ML string problems)
    df.dtypes[df.dtypes.map(lambda x: x == 'object')]
    #Column with missing values
    missing_col = df.columns[df.isnull().any()].tolist()
    for item in missing_col:
        df[[item]].fillna(df.groupby(item).transform('median'))
    #Transforme catheogorical data to numerical data
    col_to_conv = ['playerShort', 'club', 'leagueCountry', 'position']
    for col in col_to_conv:
        items_cat = pd.Categorical(df[col], ordered= False) # default order: alphabetical
        df[col] = items_cat.labels # insert in datafram 
        #items = sorted(df[col].unique())
        #items_map = dict(zip(items, range(0, len(items) + 1)))
        #df[col] = df[col].map(items_map).astype(int)
    return df

In [10]:
df2 = cleanData(df1)

Since the data in here is in form of dyads, we would need to group by players.

In [11]:
grouped_df = df1.groupby('playerShort')
grouped_df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,901,Lucas Wilchez,70,3,31.08.1983,177.0,72.0,0,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,739,John Utaka,51,1,08.01.1982,179.0,82.0,11,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
5,0,Aaron Hughes,34,0,08.11.1979,182.0,71.0,1,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
6,45,Aleksandar Kolarov,48,0,10.11.1985,187.0,80.0,6,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
7,64,Alexander Tettey,54,0,04.04.1986,180.0,68.0,4,1,0,...,1.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
8,89,Anders Lindegaard,49,0,13.04.1984,193.0,80.0,5,1,0,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
9,103,Andreas Beck,2,2,13.03.1987,180.0,70.0,9,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
10,131,Antonio Rukavina,69,3,26.01.1984,177.0,74.0,9,2,2,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
11,151,Ashkan Dejagah,34,0,05.07.1986,181.0,74.0,8,1,1,...,0.50,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
12,187,Benedikt Höwedes,31,2,29.02.1988,187.0,80.0,1,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
13,277,Chris Baird,34,0,25.02.1982,186.0,77.0,4,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
14,278,Chris Brunt,92,0,14.12.1984,185.0,74.0,-1,1,0,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
15,348,Daniel Schwaab,11,2,23.08.1988,186.0,76.0,9,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
16,393,Dennis Aogo,38,2,14.01.1987,184.0,85.0,6,1,1,...,0.50,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
17,532,George McCartney,93,0,29.04.1981,180.0,74.0,6,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
18,571,Gylfi Sigurðsson,83,0,08.09.1989,186.0,77.0,0,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
19,629,Ivan Obradović,70,3,25.07.1988,181.0,74.0,6,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
20,655,Jan Morávek,28,2,01.11.1989,180.0,75.0,0,1,0,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
21,658,Jan Rosenthal,72,2,07.04.1986,186.0,76.0,0,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
22,761,Jonny Evans,49,0,02.01.1988,188.0,77.0,1,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
23,858,Kyriakos Papadopoulos,31,2,23.02.1992,183.0,85.0,1,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
24,974,Marko Marin,21,0,13.03.1989,170.0,63.0,0,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
25,1002,Mats Hummels,16,2,16.12.1988,192.0,90.0,1,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
26,1030,Mesut Özil,66,3,15.10.1988,183.0,76.0,0,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
27,1064,Milorad Peković,77,2,05.08.1977,189.0,88.0,4,1,1,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
28,1099,Nemanja Vidić,49,0,21.10.1981,188.0,82.0,1,2,2,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
29,1101,Neven Subotić,16,2,10.12.1988,193.0,88.0,1,2,2,...,0.25,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
30,1168,Patrick Ebert,69,3,17.03.1987,172.0,68.0,7,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
31,1196,Péter Gulácsi,46,0,06.05.1990,190.0,75.0,5,1,1,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
32,1432,Steven Davis,76,0,01.01.1985,170.0,60.0,4,1,0,...,0.00,4,4,LUX,0.325185,127.0,0.003297,0.538462,130.0,0.013752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65706,863,Larnell Cole,49,0,09.03.1993,168.0,63.0,-1,1,1,...,0.75,1383,44,ENGL,0.326690,44791.0,0.000010,0.356446,46916.0,0.000037
66133,892,Loïc Abenzoar,57,1,14.02.1989,NaN,NaN,9,1,0,...,0.75,1390,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
66259,269,Charlie Took,61,3,25.05.1993,184.0,78.0,-1,1,0,...,0.75,1394,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
67339,204,Billel Omrani,58,1,02.06.1993,187.0,70.0,-1,1,0,...,0.75,1428,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
67622,35,Ahmed Sassi,2,2,24.09.1993,179.0,69.0,0,1,0,...,0.50,1435,8,DEU,0.336628,7749.0,0.000055,0.335967,7974.0,0.000225
68172,1366,Serge Gnabry,6,0,14.07.1995,173.0,73.0,-1,2,0,...,0.50,1456,40,SWE,0.340205,5223.0,0.000081,0.626401,5621.0,0.000373
68269,960,Marek Große,39,2,11.04.1994,186.0,83.0,5,1,0,...,0.00,1458,8,DEU,0.336628,7749.0,0.000055,0.335967,7974.0,0.000225
69249,202,Biel Company,61,3,16.02.1992,176.0,73.0,-1,1,0,...,0.25,1487,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
74561,863,Larnell Cole,49,0,09.03.1993,168.0,63.0,-1,1,0,...,0.75,1627,44,ENGL,0.326690,44791.0,0.000010,0.356446,46916.0,0.000037
76521,1362,Sénah Mango,58,1,13.12.1989,181.0,78.0,1,1,0,...,1.00,1663,111,ISL,0.378581,332.0,0.001191,0.531609,348.0,0.004260
77329,273,Cheikh N'Diaye,80,1,15.02.1985,191.0,80.0,5,1,0,...,0.75,1696,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
79288,960,Marek Große,39,2,11.04.1994,186.0,83.0,5,1,1,...,0.00,1712,8,DEU,0.336628,7749.0,0.000055,0.335967,7974.0,0.000225
79673,204,Billel Omrani,58,1,02.06.1993,187.0,70.0,-1,1,0,...,0.75,1729,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
90390,1543,Wesley Jobello,58,1,23.01.1994,179.0,68.0,8,1,0,...,0.75,1942,44,ENGL,0.326690,44791.0,0.000010,0.356446,46916.0,0.000037
92239,1386,Sidy Koné,57,1,06.06.1992,185.0,73.0,-1,1,1,...,0.75,1972,102,SVN,0.273530,303.0,0.001426,0.429907,321.0,0.006084
92259,61,Alexander N'Doumbou,58,1,04.01.1992,174.0,70.0,-1,1,0,...,0.50,1973,104,LSO,0.208010,8.0,0.053790,1.800000,10.0,0.329309
96048,204,Billel Omrani,58,1,02.06.1993,187.0,70.0,-1,1,1,...,0.75,2061,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
96157,202,Biel Company,61,3,16.02.1992,176.0,73.0,-1,1,1,...,0.25,2063,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
100181,1362,Sénah Mango,58,1,13.12.1989,181.0,78.0,1,1,0,...,1.00,2149,62,UGA,0.146138,98.0,0.005359,-0.625000,104.0,0.020937
100764,705,Jerome Sinclair,45,0,20.09.1996,NaN,NaN,-1,1,1,...,0.75,2169,44,ENGL,0.326690,44791.0,0.000010,0.356446,46916.0,0.000037
105478,61,Alexander N'Doumbou,58,1,04.01.1992,174.0,70.0,-1,1,1,...,0.50,2271,10,SEN,0.229733,35.0,0.012483,-0.487805,41.0,0.030425
109433,61,Alexander N'Doumbou,58,1,04.01.1992,174.0,70.0,-1,1,0,...,0.50,2345,101,CZE,0.411976,595.0,0.000712,0.683946,598.0,0.003489
115479,1074,Momar Bangoura,58,1,24.02.1994,176.0,65.0,4,1,0,...,1.00,2417,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
120280,833,Kevin Osei,58,1,26.03.1991,173.0,71.0,-1,1,0,...,0.75,2546,57,AUT,0.337539,1319.0,0.000331,0.394139,1365.0,0.001717
120377,1543,Wesley Jobello,58,1,23.01.1994,179.0,68.0,8,1,0,...,0.75,2546,57,AUT,0.337539,1319.0,0.000331,0.394139,1365.0,0.001717
139030,1362,Sénah Mango,58,1,13.12.1989,181.0,78.0,1,1,0,...,1.00,2951,22,POL,0.369958,1021.0,0.000412,0.831268,1049.0,0.002034
139150,172,Baptiste Aloe,58,1,29.06.1994,184.0,77.0,1,1,1,...,0.25,2960,80,FIN,0.396512,2273.0,0.000187,1.031407,2388.0,0.000931
139769,1074,Momar Bangoura,58,1,24.02.1994,176.0,65.0,4,1,0,...,1.00,2961,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
139946,1543,Wesley Jobello,58,1,23.01.1994,179.0,68.0,8,1,0,...,0.75,2961,7,FRA,0.334684,2882.0,0.000151,0.336101,3011.0,0.000586
144067,61,Alexander N'Doumbou,58,1,04.01.1992,174.0,70.0,-1,1,0,...,0.50,3083,30,COL,0.377402,601.0,0.000703,0.588050,636.0,0.003579

Now let's aggregate the values per player for useful columns and drop the rest:

In [12]:
aggr_df = grouped_df.agg({'height':'median', 'weight':'median', 'games':'sum', 'victories':'sum','defeats':'sum', 'ties': 'sum', 'goals':'sum', 'redCards':'sum', 'yellowReds': 'sum', 'yellowCards':'sum', 'leagueCountry':'first', 'rater1':'median', 'rater2':'median'})
aggr_df.head()

,ties,rater1,games,rater2,height,goals,redCards,victories,weight,yellowReds,leagueCountry,yellowCards,defeats
playerShort,,,,,,,,,,,,,
0,179,0.25,654,0.00,182.0,9,0,247,71.0,0,0,19,228
1,73,0.00,336,0.25,183.0,62,1,141,73.0,0,2,42,122
2,97,0.25,412,0.25,165.0,31,0,200,63.0,0,0,11,115
3,42,0.00,260,0.00,178.0,39,1,150,76.0,0,0,31,68
4,40,0.25,124,0.25,180.0,1,2,41,73.0,4,1,8,43

In [13]:
#looks like clean_data function doesn't replace missing values to median of the columns

Before apllying ML techniques, we should normalize the data (the features for which it makes sense to normalize):

In [14]:
def normalize(x):
    return (x - x.mean()) / x.std()

In [15]:
cols_to_norm = ['height', 'weight', 'games', 'victories', 'defeats', 'ties', 'goals', 'redCards', 'yellowReds', 'yellowCards'] 
for col in cols_to_norm:
    aggr_df[col] = normalize(aggr_df[col])

In [16]:
aggr_df.head()

,ties,rater1,games,rater2,height,goals,redCards,victories,weight,yellowReds,leagueCountry,yellowCards,defeats
playerShort,,,,,,,,,,,,,
0,3.600697,0.25,2.935828,0.00,-0.006562,-0.452545,-0.749238,1.823256,-0.708534,-0.682282,0,-0.494788,3.745172
1,0.492236,0.00,0.705694,0.25,0.141742,0.824019,-0.001886,0.456776,-0.427064,-0.682282,2,0.424086,1.174141
2,1.196039,0.25,1.238682,0.25,-2.527732,0.077349,-0.749238,1.217364,-1.834414,-0.682282,0,-0.814397,1.004356
3,-0.416842,0.00,0.172706,0.00,-0.599778,0.270038,-0.001886,0.572798,-0.004859,-0.682282,0,-0.015375,-0.135629
4,-0.475492,0.25,-0.781062,0.25,-0.303170,-0.645234,0.745466,-0.832357,-0.427064,2.195740,1,-0.934250,-0.742004